# The below packages are for acquisition, repository embeddings, and Qdrant indexing.
python-dotenv
requests
numpy
sentence-transformers
qdrant-client
pg8000
schedule

# Testing dependencies
pytest
pytest-cov
pytest-benchmark
pytest-mock
pytest-docker

# API & Messaging dependencies
fastapi
uvicorn
redis

